@charset "UTF8";

* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  /*width: 100vw;
  height: 100vh;*/
  background-color: rgb(231, 229, 229);
  font-family: Arial, Helvetica, sans-serif;
}

.main-header {
  background-color: darkgray;
}

.brand a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(49, 48, 48);
  /* para que o a aceite ser centralizado precisa transforma-lo em block */
  display: block;
  text-align: center;
}

.main-nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.main-nav a {
  text-decoration: none;
  color: white;
  text-align: center;
  display: inline-block;
  background-color: black;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  width: 90vw;
}

.content-body {
  width: 80vw;
  /* o navegador entende com margin:auto "Calcule as margens esquerda e direita automaticamente para serem iguais"
  isso faz com que o conteiner fique centralizado */
  margin: auto;
  background-color: white;
  padding: 10px;
}
