@charset "UTF8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* definimos as variaveis */
:root {
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  /* assim chamamos as variaveis */
  background-color: var(--fundo-principal);
  color: var(--texto);
}

header {
  background-color: var(--destaque);
  color: var(--texto);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.menu a {
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600;
  padding: 5px 15px;
  border-radius: 5px;
  transition: background-color 0.5s, color 0.5s;
  display: flex;
  align-content: center;
}

.menu a:hover {
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}

main {
  display: grid;
  grid-template-columns: 1fr 90vw 1fr;
  gap: 20px;
  margin-top: 20px;
}

.ficha {
  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 8px;
  grid-column: 2;
}

img.foto {
  width: 200px;
  /* 1/1 achata a imagem para que ela fique 1 pra 1 e o cover ajudar ela */
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  /* cria uma borda dentro da imagem (branca) e uma borda fora da imagem (azul) */
  border: 5px solid var(--fundo-card);
  outline: 5px solid var(--destaque);
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

h1 {
  color: var(--destaque);
  margin: 15px 0;
  font-size: 1.5em;
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  gap: 1em;
  margin-top: 15px;
}

.social a {
  color: var(--destaque);
  transition: background-color 0.5s, color 0.5s;
  text-decoration: none;
}

.social a:hover {
  color: var(--destaque-inverso);
}
