@charset "UTF8";

* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background-color: #5f2c82;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#login {
  /* com essas configurações eu deixo o objeto no meio da tela */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* com essas configurações eu deixo o objeto do tamanho e da cor desejada, e com bordas */
  background-color: white;
  width: 250px;
  height: 510px;
  border-radius: 20px;
  /* hidden esconde tudo o que estiver fora da border */
  overflow: hidden;
  /* para adicionar sombra na caixa, 0 0 significa que ela não vai
  espelhar a mais pra nenhum lado, 10 ela sera espalhada no geral e a cor */
  box-shadow: 0px 0px 10px rgb(46, 45, 45);
  /* faz uma transição suave de uma largura para outra */
  transition: 0.2s;
}

#imagem {
  /* block transforma um elemento em uma "caixa egoísta" que quer ocupar 
  todo o espaço horizontal a linha disponível e aceita SIM comandos de tamanho. 
  OUTROS DISPLAYS :
  none - faz o elemento desaparecer e desocupar espaço
  inline-block - deixa todos os elementos na mesma linha e é possivel SIM
  das comandos de tamanho 
  flex - alinhar itens em uma direção por vez (horizontal ou vertical)
  grid - organiza itens na horizontal e vertical, como uma planilha */
  display: block;
  background: #5f2c82 url(../imagens/imglogin.jpg) no-repeat;
  height: 200px;
  /* cover garante que a imagem cubra 100% do elementro */
  background-size: cover;
  /* caso a imagem seja em um formato que não caiba inteira
  essa confirguração left bottom, faz ela começar do canto dela
  da esquerda e de baixa */
  background-position: left bottom;
}

#formulario {
  /* block transforma um elemento em uma "caixa egoísta" que quer ocupar 
  todo o espaço horizontal a linha disponível e aceita SIM comandos de tamanho */
  display: block;
  /* cria espaço interno entre o item e a caixa */
  padding: 10px;
}

h1 {
  /* centraliza o texto e dá um espaço em volta dele */
  text-align: center;
  margin-bottom: 10px;
}

p {
  /* define o tamanho da fonte com base no tamanho da tela */
  font-size: 1em;
}

.campo {
  /* obriga o label e input dividirem espaço ficando lado a lado */
  display: flex;
  background-color: #5f2c82;
  align-items: center;
  border-radius: 5px;
  margin: 5px;
  height: 40px;
}

.campo input {
  width: 100%;
  height: 15px;
  padding: 10px;
  margin: 10px 0px;
  border-color: #5f2c82;
  border-radius: 5px;
}

.material-symbols-outlined {
  font-size: 35px;
  color: white;
  margin: 5px;
}

/* tenho que usar palavra input para chamar, se não estará alterando
apenas a div e não o botão */
.botao input {
  display: block;
  font-size: 1em;
  font-weight: bold;
  width: 100%;
  height: 30px;
  background-color: rgb(82, 202, 82);
  margin: 10px 0px;
  color: white;
  border-color: rgb(82, 202, 82);
  border-radius: 5px;
  cursor: pointer;
}

.botao input:hover {
  background-color: rgb(38, 88, 38);
}

#esqueci input {
  background-color: white;

  color: black;
}

#esqueci input:hover {
  background-color: rgb(38, 88, 38);
}
